@import url("../normalize.css");
body{
    padding: 0;
    margin: 0;
}
.main-content{
    position: relative;
    height: auto;
    top: 140px;
    display: block;
}
.navi{
    position: fixed;
    width: 20%;
    height: auto;
    top: 90px;
}
.navi ul{
    list-style-type: none;
    padding: 10px;
    margin-top: 3%;
    border-right: 1px solid black;
}
.navi li{
    margin: 10px 0;
}
.navi li a{
    text-decoration: none;
    color: black;
}
.content{
    position: relative;
    left: 20%;
    width: 55%;
    height: auto;
    flex-direction: column;
    padding-bottom: 50px;
}
.content h2 a{
    text-decoration: none;
    color: black;
}
.content h2 a:hover{
    text-decoration: underline;
}
.content h2:target{
    scroll-margin-top: 8rem;
}
.sidebar{
    position: fixed;
    top: 140px;
    left: 80%;
}
.sidebar ul{
    border-left: 1px solid black;
}
.sidebar li a{
    text-decoration: none;
    color: black;
}
.relation_image{
    width: 100%;
}
button{
    float: right;
    width: 100px;
    height: 30px;
}
button:hover{
    cursor: pointer;
}
@media only screen and (max-width: 576px) { 
    .sidebar{
        display: none;
    }
    .content{
        width: 90%;
        left: 5%;
    }
}