@import url("../../normalize.css");
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体 2.0 45 Light";
    font-weight: 300;
    src: url("//at.alicdn.com/wf/webfont/DAKi4vov5QYn/MnSrXcmi-vmL_Xki3iwY9.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/DAKi4vov5QYn/WZJ8yExtzrm7UBrNMTJcm.woff") format("woff");
    font-display: swap;
}
body{
    margin: 0 0 10px 0;
    height: auto;

}
.icon{
    height: 250px;
    width: 180px;
    float: right;
}
#content-container{
    padding-left: 150px;   /* leftContent width */
    padding-right: 200px;  /* rightContent width */
    overflow: hidden;
}
.detailed_info{
    position: relative;
    width: calc(100vh-150px-200px);
    height: auto;
    top: 120px;
    color: black;
    margin-bottom: 200px;
}
.charactor_info{
    display: block;
}
.actor_info{
    display: none;
}
.charactor_info,.actor_info{
    padding: 0 40px;
}
.content a{
    text-decoration: none;
    color: black;
}
.content a:hover{
    text-decoration: underline;
}
.content h2:target{
    scroll-margin-top: 4rem;
}
.tab,.menu{
    position: fixed;
    top: 200px;
}
.tab{
    height: 400px;
    left: 0px;
    width: 150px;
}
.tab ul{
    border-right: 1px solid black;
}
.tab li{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.tab li:hover{
    cursor: pointer;
}
.current{
    background-color: black;
    color: white;
}
.menu{
    width: 200px;
    right: 10px;
}
.menu ul{
    border-left: 1px solid black;
    list-style-type: none;
}
.menu li{
    margin-bottom: 20px;
}
.menu li a{
    text-decoration: none;
    color: black;
}
.brief+div{
    display: flex;
}
dl{
    width: 60%;
    margin-right: 0;
}
dl dd {
    display: inline;
    margin: 0;
}
dl dd:after{
    display: block;
    content: '';
}
dl dt{
    display: inline-block;
    min-width: 100px;
}
button{
    float: right;
    width: 100px;
    height: 30px;
}
button:hover{
    cursor: pointer;
}
.icon{
    height: 250px;
    width: 180px;
    float: right;
}
#slider{
    float: right;
    width: 175px;
    height: 223px;
    margin: 10px;
}
.icon{
    width: 175px;
    height: 223px;
}
.menu h3{
    margin: 0 20px;
}
.comments{
    width: 90%;
    margin: 0 5%;
}
.comments p{
    padding: 10px 0;
    border-bottom: 1px solid black;
}
#commentContent{
    font-size: 13px;
    padding: 5px;
}
#commentBtn{
    height: 35px;
    width: 100px;
    margin: 20px;
}
@media only screen and (max-width: 992px){
    .icon{
        height: 200px;
        width: 144px;
    }
    .menu{
        display: none;
    }
    .tab{
        position: absolute;
        top: 220px;
        left: 40px;
        width: 150px;
        height: 50px;
        /* justify-content: center;
        align-items: center; */
        background-color: whitesmoke;
        border-radius: 20px;
    }
    .tab ul{
        display: inline-flex;
        margin: 0;
        padding: 0;
        width: 100%;
        border-right: none;
    }
    .tab li{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        border-radius: 20px;
    }
    .tab:first-child{
        background-color: black;
        color: white;
    }
    .tab:last-child{
        background-color: white;
        color: black;
    }
    .contents{
        width: 100%;
        padding: 30px 0 0 0;
    }
    .content h2:target{
        scroll-margin-top: 9rem;
    }
}