nav{
    background-color: whitesmoke;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
}
nav .logo{
    position: relative;
    float: left;
    left: 10%;
    width: 120px;
    height: 50px;
}
nav ul{
    width: auto;
    height: 60px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li{
    float: right;
    margin-right: 6%;
    position: relative;
    width: 8%;
}
nav li a{
    display: block;
    color: black;
    height: 60px;
    display: flex;
	justify-content: center; 
	align-items: center; 
    text-decoration: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav li a:hover{
    color: white;
    background-color: black;
}
main{
    position: relative;
    height: auto;
    top: 80px;
    display: block;
}
.navi{
    position: fixed;
    width: 20%;
    height: auto;
    top: 90px;
}
.navi ul{
    list-style-type: none;
    padding: 10px;
    margin-top: 3%;
    border-right: 1px solid black;
}
.navi li{
    margin: 10px 0;
}
.navi li a{
    text-decoration: none;
    color: black;
}
article{
    position: absolute;
    top: 15%;
    left: 25%;
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
article h2 a{
    text-decoration: none;
    color: black;
}
article h2 a:hover{
    text-decoration: underline;
}
aside{
    position: fixed;
    top: 90px;
    right: 3%;
}
aside ul{
    border-left: 1px solid black;
}
aside li a{
    text-decoration: none;
    color: black;
}
.anchor{
    display: block;
    margin-top: -60px;
    margin-bottom: 80px;
    visibility: hidden;
}
.comments{
    display: flex;
    flex-direction: column;
}
.comments p{
    margin: 4px 10px;
}
.comments div{
    border-bottom: 1px solid black;
}
form{
    display: flex;
    flex-direction: column;
}
form label,input,button{
    margin: 8px 0;
}
form button{
    width: 70px;
}
#name{
    width: 20%;
}
#comment{
    height: 60px;
    text-align: justify;
}
#male,#female{
    width: 10px;
    margin: 0;
}
