@import url("../../normalize.css");
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.items{
    margin: 10px 0;
}
form{
    position: relative;
    top: 80px;
}
legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    font-size: 30px;
}
.submit{
    width: 100px;
    height: 30px;
    float: right;
}
#video{
    margin-top: 10px;
}