nav{
    background-color: whitesmoke;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
}
nav .logo{
    position: relative;
    float: left;
    left: 10%;
    width: 120px;
    height: 50px;
}
nav ul{
    width: auto;
    height: 60px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li{
    float: right;
    margin-right: 6%;
    position: relative;
    width: 8%;
}
nav li a{
    display: block;
    color: black;
    height: 60px;
    display: flex;
	justify-content: center; 
	align-items: center; 
    text-decoration: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav li a:hover{
    color: white;
    background-color: black;
}
h1{
    position: absolute;
    top: 60px;
    left: 8%;
}
.navi ul{
    position: absolute;
    top: 120px;
    left: 5%;
    list-style-type: none;
    width: 80%;
}
.navi li{
    margin: 16px 0;
    padding: 16px 0;
    border-bottom: 2px solid grey;
    
}
.navi img{
    height: 90px;
    width: 160px;
}
.navi a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
}
.navi h4{
    margin: 12px 0;
}
.navi a p{
    margin: 0 10px;
    width: 80%;
}
.title:hover{
    text-decoration: underline;
}
.content:hover{
    background-color: whitesmoke;
}