@import url("../normalize.css");
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体 2.0 45 Light";
    font-weight: 300;
    src: url("//at.alicdn.com/wf/webfont/DAKi4vov5QYn/MnSrXcmi-vmL_Xki3iwY9.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/DAKi4vov5QYn/WZJ8yExtzrm7UBrNMTJcm.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "GOT";
    src: url(/font/GameofThrones.ttf);
}
body{
    margin: 0;
}
nav{
    background-color: whitesmoke;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
}
nav .logo{
    position: relative;
    float: left;
    top: 5%;
    left: 10%;
    width: 120px;
    height: 50px;
    font-family: "GOT";
    color: rgb(35, 35, 35);
}
nav .logo span{
    display: flex;
    justify-content: center;
}
nav ul{
    width: 30%;
    height: 60px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    position: relative;
    right: 5%;
    float: right;
}
nav li{
    width: 50%;
}
nav li a{
    color: black;
    height: 60px;
    display: flex;
	justify-content: center; 
	align-items: center; 
    text-decoration: none;
    font-size: 20px;
}
nav li a:hover{
    color: white;
    background-color: black;
}
.shortcut{
    color: rgb(58, 188, 189);
}
.icon{
    height: 250px;
    width: 180px;
    float: right;
}
.contents{
    padding-left: 150px;   /* leftContent width */
    padding-right: 200px;  /* rightContent width */
    overflow: hidden;
}
.detailed_info{
    position: relative;
    width: calc(100vh-150px-200px);
    height: auto;
    top: 90px;
    color: black;
    margin-bottom: 100px;
}
.charactor_info{
    display: block;
}
.actor_info{
    display: none;
}
.charactor_info,.actor_info{
    padding: 0 20px;
}
.content a{
    text-decoration: none;
    color: black;
}
.content a:hover{
    text-decoration: underline;
}
.content h2:target{
    scroll-margin-top: 4rem;
}
.tab,.menu{
    position: fixed;
    top: 200px;
}
.tab{
    height: 400px;
    left: 10px;
    width: 150px;
}
.tab ul{
    border-right: 1px solid black;
}
.tab li{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.tab li:hover{
    cursor: pointer;
}
.current{
    background-color: black;
    color: white;
}
.menu{
    width: 200px;
    right: 10px;
}
.menu ul{
    border-left: 1px solid black;
    list-style-type: none;
}
.menu li{
    margin-bottom: 20px;
}
.menu li a{
    text-decoration: none;
    color: black;
}
.brief+div{
    display: flex;
}
dl{
    width: 60%;
    margin-right: 0;
}
dl dd {
    display: inline;
    margin: 0;
}
dl dd:after{
    display: block;
    content: '';
}
dl dt{
    display: inline-block;
    min-width: 100px;
}
button{
    float: right;
    width: 100px;
    height: 30px;
}
button:hover{
    cursor: pointer;
}
@media only screen and (max-width: 992px){
    .menu{
        display: none;
    }
    .tab{
        position: fixed;
        top: 60px;
        left: 0px;
        width: 100%;
        height: 50px;
        /* justify-content: center;
        align-items: center; */
        background-color: whitesmoke;
        border-top: 1px solid black;
    }
    .tab ul{
        display: inline-flex;
        margin: 0;
        padding: 0;
        width: 100%;
        border-right: none;
    }
    .tab li{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    .tab:first-child{
        background-color: black;
        color: white;
    }
    .tab:last-child{
        background-color: white;
        color: black;
    }
    .contents{
        width: 100%;
        padding: 30px 0 0 0;
    }
    .content h2:target{
        scroll-margin-top: 9rem;
    }
}